.date-tag{
    position: absolute;
    top: 0px;
    left: 2.5%;
    width: 33.5%;
}
.buy-now{
    position: absolute;
    bottom: 1.8%;
    right: 1.45%;
    width: 49%;
    height: 7%;
    background-image: url(../img/staticImg/P_CTA.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.logo{
    position: absolute;
    bottom: 1.8%;
    left: 3.47%;
    width: 35%;
    height: 7%;
    background-image: url(../img/staticImg/P_fitbit_logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
